.head
  .header__logo
    = link_to "SOCCER LINE-UP", '#', class: "header--title--text"
  .header__message
    自分のチームのフォーメーションを登録しよう
  .header_btn
    = button_to "新規投稿", '#', method: :get, class: "header_new_btn"
    = button_to "ログアウト", '#', method: :get, class: "header_login_btn"