.wrapper {
width: 100vw;
height: 200px;
background-image: url(grass-1176417_1920.jpg);
}
.head{
  a {
    text-decoration: none;
    }
  .header__logo{
    text-align: center;
    font-size: 50px;
    a {
      color: white;
    }
  }
  .header__name { 
  }   
  .header__btn {
  }
}
