.main {
  width: 100%;
  height: calc(100vh - 200px);
  background-image: url(audience-1866738_1920.jpg);
  background-size: 100%;
  .header__logo{
    color: white;
  }
  .game_box {
    color: white;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

  
