.new_form {
  font-size: 20px;
background-color: brown;
}

.edit-form {
  height: calc(100vh - 220px);
  background-image: url(football-pitch-320100_1920.jpg);
  background-size: 100% 100%;
  .form_data {
    height: 40px;
    text-align: center;
  }
  .form_memo {
    margin-left: 30%;
    display: flex;
    .game_formation {
      height: 50px;
    }
    .game_memo {
      margin-left: 10%;
      resize: none;
      height: 50px;
      width: 300px;
    }
  }
  .form_menber {
    padding-top: 2%;
    #num11 {
      margin-left: 30%;
      margin-right: 5%;
    }
    #num10 {
      margin-left: 5%;
      margin-right: 30%;
    }
    #num9 {
      margin-top: 7%;
      margin-left: 6%;
    }
    #num8 {
      margin-top: 7%;
      margin-left: 10%;
    }
    #num7 {
      margin-top: 7%;
      margin-left: 10%;
    }
    #num6 {
      margin-top: 7%;
      margin-left: 10%;
      margin-right: 6%;
    }
    #num5 {
      margin-top: 7%;
      margin-left: 6%;
    }
    #num4 {
      margin-top: 7%;
      margin-left: 10%;
    }
    #num3 {
      margin-top: 7%;
      margin-left: 10%;
    }
    #num2 {
      margin-top: 7%;
      margin-left: 10%;
    }
    #num1 {
      margin-top: 7%;
      margin-left: 42%;
      margin-right: 42%;
    }
  }
  .form__btn {
    color: blue;
  }
}