.form_menber {
  padding-top: 2%;
  #num11_4_4_2 {
    margin-left: 30%;
    margin-right: 5%;
  }
  #num10_4_4_2 {
    margin-left: 5%;
    margin-right: 30%;
  }
  #num9_4_4_2 {
    margin-top: 7%;
    margin-left: 6%;
  }
  #num8_4_4_2 {
    margin-top: 7%;
    margin-left: 10%;
  }
  #num7_4_4_2 {
    margin-top: 7%;
    margin-left: 10%;
  }
  #num6_4_4_2 {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 6%;
  }
  #num5_4_4_2 {
    margin-top: 7%;
    margin-left: 6%;
  }
  #num4_4_4_2 {
    margin-top: 7%;
    margin-left: 10%;
  }
  #num3_4_4_2 {
    margin-top: 7%;
    margin-left: 10%;
  }
  #num2_4_4_2 {
    margin-top: 7%;
    margin-left: 10%;
  }
  #num1_4_4_2 {
    margin-top: 7%;
    margin-left: 42%;
    margin-right: 42%;
  }
}

