.main-contents {
  width: 100vw;
  height: calc(100% - 200px);
  display: flex;
  .left-contents {
    width: 50%;
    height: calc(100vh - 200px);
    background-image: url(soccer-1273968_1280.webp);
    background-size:100% 100%;
    background-repeat: no-repeat;
  }
  .right-contents {
    width: 50%; 
    height: calc(100vh - 200px);
    background-image: url(bleachers-1867992_1920.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
  }
}