 $formation: 3; 
.main-contents {
  width: 100vw;
  height: calc(100% - 200px);
  display: flex;
  .left-contents {
    width: 50%;
    height: calc(100vh - 200px);
    background-image: url(soccer-1273968_1280.webp);
    background-size:100% 100%;
    background-repeat: no-repeat;
    .lineup {
      color: white;
    }
  }
      .lineup-logo {
        font-size: 30px;
        text-align: center;
        margin: 20px;
      }
      .sutamen {
        font-size: 20px;
        color: deepskyblue;
      }
      .sutamen_memo {
        margin-top: 20px;
        color: green;
      }
      .btn_box {
        display: flex;
        margin-left: 50px;
        justify-content: center;
        text-decoration: none;
        .edit_form {
          margin-right: 5%;
          text-decoration: none;
        }
        .delete_form {
          margin-right: 5%;
        }
      }
  .right-contents {
    width: 50%; 
    height: calc(100vh - 200px);
    background-image: url(bleachers-1867992_1920.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    .lineup {
      color: fuchsia;
      position: relative;
      .sutamen_num1 {
        position: absolute;
        margin-top: 70%;
        margin-left: 48%;
      }
      .sutamen_num2 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 55%;
          margin-left: 80%;
        } @else if $formation == 5 {
          margin-top: 55%;
          margin-left: 70%;
        } @else if $formation == 3 {
          margin-top: 55%;
          margin-left: 80%;
        }
      }
      .sutamen_num3 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 55%;
          margin-left: 60%;
        } @else if $formation == 5 {
          margin-left: 48%;
          margin-top: 55%;
        } @else if $formation == 3 {
          margin-top: 55%;
          margin-left: 60%;
        }
      }
      .sutamen_num4 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 55%;
          margin-left: 30%;
        } @else if $formation == 5 {
          margin-top: 55%;
          margin-left: 20%;
        } @else if $formation == 3 {
          margin-top: 55%;
          margin-left: 30%;
        }
      }
      .sutamen_num5 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 55%;
          margin-left: 10%;
        } @else if $formation == 5 {
          margin-top: 40%;
          margin-left: 60%;
        } @else if $formation == 3 {
          margin-top: 55%;
          margin-left: 10%;
        }
      }
      .sutamen_num6 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 30%;
          margin-left: 80%;
        } @else if $formation == 5 { 
          margin-top: 40%;
          margin-left: 40%;
        } @else if $formation == 3 {
          margin-top: 30%;
          margin-left: 75%;
        }
      }
      .sutamen_num7 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 35%;
          margin-left: 60%;
        } @else if $formation == 5 {
          margin-top: 30%;
          margin-left: 80%;
        } @else if $formation == 3 {
          margin-top: 30%;
          margin-left: 45%;
        }
      }
      .sutamen_num8 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 35%;
          margin-left: 30%;
        } @else if $formation == 5 {
          margin-top: 25%;
          margin-left: 48%;
        }
          @else if $formation == 3 {
            margin-top: 30%;
            margin-left: 20%;  
          }
      }
      .sutamen_num9 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 30%;
          margin-left: 10%;
        } @else if $formation == 5 {
          margin-top: 30%;
          margin-left: 10%;
        } @else if $formation == 3 {
          margin-top: 10%;
          margin-left: 80%;
        }
      }
      .sutamen_num10 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 10%;
          margin-left: 60%;
        } @else if $formation == 5 {
          margin-top: 10%;
          margin-left: 60%;
        } @else if $formation == 3 {
          margin-top: 10%;
          margin-left: 45%;
        }
      }
      .sutamen_num11 {
        position: absolute;
        @if $formation == 1 {
          margin-top: 10%;
          margin-left: 40%;
        } @else if $formation == 5 {
          margin-top: 10%;
          margin-left: 40%;
        } @else if $formation == 3 {
          margin-top: 10%;
          margin-left: 15%;
        }
      }
    }

  }
}